#musicbar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 85px;
    width: 100%;
}

.musicbar__visable {
    position: fixed;
    bottom: 0;
}

.musicbar__hidden {
    display: none !important;
}

#musicbar__durationcontainer {
    margin: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    transition: opacity .2s;
    z-index: 2;
}

#musicbar__durationcontainer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
}

.musicbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

#musicbar__currentlyPlaying {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

#musicbar__albumCover {
    width: 80px;
    height: 80px;
    user-select: none;
}

#musicbar__albumCover img {
    width: 80px;
    height: 80px;
}

#musicbar__songDetails {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

#musicbar__songName {
    margin-bottom: 3px;
    font-weight: 500;
    overflow: hidden; 
}

#musicbar__controls {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#musicbar__controls img {
    margin: 0 13px;
    width: 30px;
}

#musicbar__play {
    cursor: pointer;
    width: 40px !important;
}

.musicbar__padding {
    padding: 8px;
}

.musicbar__padding:hover {
    cursor: pointer;
    border-radius: 5px;
}

#musicbar__volumeControl {
    padding-right: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#musicbar__volumeStatus {
    margin-right: 8px;
    width: 20px;
}

#musicbar__volumeSlider {
    -webkit-appearance: none;
    height: 5px;
    outline: none;
    transition: opacity .2s;
    z-index: 2;
}
  
#musicbar__volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
}